@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  width: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
  width: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #2377fe 0%,
    #4338ca 51%,
    #f43f5e 100%
  );
}

.text-container {
  margin: 8px;
}
h1 {
  text-shadow: 2px 2px 0px rgba(255, 255, 255, 1),
    5px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn-grad,
h1,
p {
  font-family: "Inter", serif;
}

p {
  font-style: italic;
}

.btn-grad {
  border: none;
  margin: 10px;
  padding: 18px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 12px;
  font-size: 16px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
}

.get-started {
  text-decoration: none;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    text-shadow: none;
  }

  .btn-grad {
    width: 95%;
    padding: 16px;
    border-radius: 8px;
  }
}
