@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.nav-menu {
  position: fixed;
  top: 28px;
  left: 100px;
  background: white;
  z-index: 1000;
}
.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin-bottom: 10px; /* Space between menu items */
}

.container {
  margin-top: 80px;
}

ul {
  font-family: "Inter", serif;
  font-size: 22px;
}   


#home-txt {
  text-decoration: none;
  color: #333;
  position: relative;
  padding-bottom: 2px; 
}

/* Hover underline effect */
#home-txt:hover {
  color: #4f46e5;
}

#home-txt::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4f46e5;
  transition: width 0.3s ease-out;
}

#home-txt:hover::after {
  width: 100%;
}